@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@500&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-color:#5252ed;
    --seconary-color:#ff2169;
}

.flex{
    display: flex;
}

.flex-bw{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

p,li{
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100%;
    min-height:100vh;    
}


/* Header */

.header{
    width: 100%;
    height: 60vh;
    position: relative;
}

.header .logo h1{
    position: relative;
}

.header .logo h1::after{
    content: '';
    width: 33%;
    height: 4px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0px;
    left: 0px;
    animation: logo 2s linear infinite;
}

@keyframes logo{
    0%,100%{
        width: 0px;
        opacity: 0;
    }

    50%{
        width:100%;
        opacity: 1;
        background-color: var(--seconary-color);
    }
    
}

.header .MenuBar{
    width: 100%;
    padding: 2vh 4vw;
    color: #fff;
    animation: moveRight 0.5s linear;
}

@keyframes moveRight{
    0%{
        transform: translatey(-150px);
        opacity: 0;
    }
    100%{
        transform: translatey(0px);
        opacity: 1;
    }
}



.header .MenuBar ul li{
    list-style: none;
    margin-left: 2vw;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header .MenuBar ul li a{
    color: #fff;
    text-decoration: none;
}

.header .MenuBar ul li::after{
    content: '';
    position: absolute;
    top: 0%;
    left: 0px;
    width: 100%;
    height: 2px;
    width: 0px;
}

.header .MenuBar ul li:hover::after{
    width: 100%;
    background-color:rgb(236, 42, 227);
    
}

.header .MenuBar ul li::before{
    content: '';
    border-top: none;
    position: absolute;
    bottom: 0%;
    right: 0px;
    width: 100%;
    height: 2px;
    width: 0%;
}

.header .MenuBar ul li:hover::before{
    width: 100%;
    background-color: rgb(37, 202, 214);
}

.header .MenuBar ul li::after,.header .MenuBar ul li::before{
    transition: all 0.4s;
}

.header .MenuBar ul .active-menu::after{
    width: 100%;
    background-color:rgb(236, 42, 227);
}

.header .MenuBar ul .active-menu::before{
    width: 100%;
    background-color: rgb(37, 202, 214);
}

.header .header-banner{
    
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.header-banner img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.header .search{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    width: 25vw;
}

.search{
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.search input{
    width: 90%;
    padding: 12px 10px ;
    outline: none;
    border: none;
    border-radius: 0px;
}

.search input::placeholder{
    color: var(--primary-color);
}

.search .fa-searchengin{
    width: 15%;
    color: #fff;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

/* Home */

.home{
    padding: 5vh 4vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home .left-section{
    width: 25%;
}


.home .right-section{
    width: 70%;
}

.left-section h1{
    position: relative;
    display: inline;
}
.left-section h1::after{
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.category-list{
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.6),
                0px 0px 2px rgba(0, 0, 0, 0.6);
    margin-top: 2vh;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom:4vh;
}

.category-list ul li{
    list-style: none;
    border-bottom: 1px solid rgb(208 201 201 / 80%);
    cursor: pointer;
}

.category-list ul li a{
    text-decoration: none;
    color: black;
    padding:15px 40px;
    display: block;
}

.category-list ul .active-category{
    background-color: var(--seconary-color);
    color: #fff;
}

.category-list ul .active-category a{ 
    color: #fff;
}

.category-list ul li:hover{
    background-color: var(--seconary-color);
}

.category-list ul li:hover a{
    color: white;
}

.category-list ul li:active a{
    background-color: rgba(87, 84, 84, 0.6);
    color: white;
}

.tags{
    display: flex;
    flex-wrap: wrap;
}

.tags button {
    width: 160px;
    margin-top: 12px;
    background: var(--primary-color);
    border: none;
    color: white;
    padding: 12px;
    cursor: pointer;
}


.Posts{
    flex-wrap: wrap;
}

.post{
    position: relative;
    margin-top: 4vh;
    width: 45%;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 40%);
}


.post .post-date{
    position: absolute;
    top: 10%;
    right: 5%;
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

.postImg img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.post-details{
    padding: 0vh 1vw;
}

.post-details *{
    padding-top: 5px;
}

.post-details button{
    border: none;
    padding: 5px 10px;
    margin: 10px 0px;
    background-color: var(--seconary-color);
    position: relative;
    cursor: pointer;
}

.post-details button a{
    text-decoration: none;
    color: #fff;padding: 1vh 0vw;
}

.post-details button::after{
    content: '';
    width: 100%;
    height: 100%;
    width: 0px;
    background-repeat: no-repeat;
    background-image: radial-gradient(at 50% , rgba(255,255,255,0.2),rgba(255,255,255,0.6));
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 0.5s;
}

.post-details button::before{
    content: '';
    width: 100%;
    height: 100%;
    width: 0px;
    background-repeat: no-repeat;
    background-image: radial-gradient(at 50% , rgba(255,255,255,0.2),rgba(255,255,255,0.6));
    position: absolute;
    right: 0px;
    top: 0px;
    transition: all 0.5s;
}

.post-details button:hover::after,.post-details button:hover::before{
    width: 100%;
}

.prev-next{
    margin-top: 4vh;
}

.prev-next button{
    background-color: var(--seconary-color);
    padding: 5px 15px;
    border: none;
    color: #fff;
    width: 130px;
    cursor: pointer;
}

.prev-next button:nth-child(2){
    margin-left: 20px;
}


@media screen and (max-width:600px) {
    .header .search{
        width: 75vw;
    }

    .home .left-section{
        width: 100%;
    }

    .home .right-section{
        width: 100%;
        margin-top: 20px;
    }
    
    
}